extends layout

block content
	h1 Sign up!
	p Hello #{user.displayName}!

	.signup-calendar
		for service in services
			.service-listing
				h3 #{service.date} &nbsp; 
					span.service-title #{service.title}
					a.add-responsibility-link(href="/service/#{service.id}/add") Add
				table.service-entry
					for responsibility in service.responsibilities
						tr
							td.responsibility-description= responsibility.description
							td.responsibility-detail= responsibility.detail
							td
								if !responsibility.volunteer
									form(method="POST", action="/signup/#{service.id}/#{responsibility.type}")
										button(type="submit") Sign up
								else
									p= responsibility.volunteer
							td
								if responsibility.volunteer
									form(method="POST", action="/unsignup/#{service.id}/#{responsibility.type}")
										button(type="submit") Cancel

		else
			p No services listed
	script(type="text/javascript",src="/javascripts/signup.js")
